# Core dependencies
numpy
pandas
pillow
torch
torchvision
tqdm
pytest
scikit-learn
shapely
albumentations
pyarrow

# Documentation
sphinx
sphinx_rtd_theme
sphinx-design
furo
sphinx_markdown_tables
myst_parser
docformatter
nbmake
nbsphinx
nbqa

# Development tools
bumpversion
yapf
black
flake8

# Label Studio tools
label-studio-sdk
paramiko
python-dotenv

# Version checking
outdated

# Metrics
torchmetrics